<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Test JC</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-6">
        HEUHEHUEHUE
    </div>
    <div class="col-md-6">
        hihihihihi
    </div>
</div>
    {% block content %}
    {% endblock %}
</div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>